$green: rgba(119, 180, 32, 1);
$grey: rgba(86, 94, 104, 1);
$blue: rgba(0, 135, 191, 1);
$yellow: rgba(255, 219, 0, 1);
$gray-base: darken($grey, 10%);
$gray-light: lighten($gray-base, 30%);

// navbar
$navbar-height: 30px !default;
$navbar-default-bg: darken($grey, 20%);
$navbar-default-color: white;
$navbar-default-brand-color: white;
$navbar-margin-bottom: 0;
$navbar-border-radius: 0px;

// jumbotron
$jumbotron-padding: 10px;
$jumbotron-heading-font-size: 30px;
$jumbotron-bg: $blue;
$jumbotron-color: white;
//$jumbotron-font-size:            ceil(($font-size-base * 1.5)) !default;
//$jumbotron-heading-font-size:    ceil(($font-size-base * 4.5)) !default;

$font-size-base: 14px;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#map {
  height: 400px;
  width: 100%;
}

.navbar {
  .navbar-brand {
    font-size: inherit;
    font-weight: bold;
  }
  font-size: 14px;
}

.jumbotron {
  h1 {
    margin: 10px;
  }
}

.categories-list-item {
  a {
    padding: 10px 0;
    font-size: 14px;
    color: $text-color;
    display: block;
  }
  .badge {
    color: lighten($grey, 40%);
    font-weight: normal;
    border: 1px solid lighten($grey, 50%);;
    background-color: white;
    font-size: 12px;
  }

  &.active {
    a {
      color: $blue;
    }
    .badge {
      background-color: lighten($blue, 10%);
      color: white;
      border: none;
    }
  }
}

.rank-list {
  background-color: desaturate(lighten($blue, 58%), 80%);
  padding: 20px;
  margin: -10px -15px;
}

.rank-list-item {
  background-color: white;
  margin-bottom: 20px;
  display: table;;
  border-top: 10px solid desaturate(lighten($blue, 50%), 80%);
  width: 100%;
  &:hover {
    .rank-list-item__title a {
      text-decoration: underline;
    }
  }
  //  border: 1px solid desaturate(lighten($blue, 45%), 80%);

  .rank-list-item__title {
    display: block;
    color: $gray-darker;
    margin: 0 0 10px 0;
    a {
      color: inherit;
    }
  }
  .rank-list-item__rank {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-left: 20px;
    font-weight: bold;
    background-color: white;
    color: lighten($grey, 20%);
    font-size: 20px;
  }
  .rank-list-item__place {
    display: table-cell;
    padding: 20px;
  }
  .rank-list-item__address {
    @extend .text-muted;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  &.active {
    border-top: 10px solid $yellow;
  }

}

//  position: relative;
//  border: none;
//  transition: transform .2s ease-in-out;
//  cursor: pointer;
//
//  &:after {
//    content: '';
//    top: 0px;
//    left: -10px;
//    right: 0;
//    bottom: 0;
//    position: absolute;
//    z-index: 1;
//    opacity: 0;
////    border: 1px solid red;
//    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
//    transition: opacity 0.2s ease-in-out;
//  }
//  &:hover {
//    transform: scale(1.03);
//    &:after {
//      opacity: 1;
//    }
//  }
//}

.category-rank {
  @extend .label, .label-info;
  background-color: white;
  color: $blue;
  border: 1px solid $blue;
  opacity: 0.7;
}